In [9]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('hm5') \
    .getOrCreate()

df = spark.read \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .csv('/u1/fhv_tripdata_2019-10.csv')

df.show()

24/03/03 14:16:44 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B00009|2019-10-01 00:23:00|2019-10-01 00:35:00|         264|         264|   NULL|                B00009|
|              B00013|2019-10-01 00:11:29|2019-10-01 00:13:22|         264|         264|   NULL|                B00013|
|              B00014|2019-10-01 00:11:43|2019-10-01 00:37:20|         264|         264|   NULL|                B00014|
|              B00014|2019-10-01 00:56:29|2019-10-01 00:57:47|         264|         264|   NULL|                B00014|
|              B00014|2019-10-01 00:23:09|2019-10-01 00:28:27|         264|         264|   NULL|                B00014|
|     B00021         |2019-10-01 00:00:48|2019-10-01 00:07:12|         129|         129|   NULL|       B00021         |
|     B00021         |2019-10-01 00:47:23|2019-10-01 00:53:25|          57|          57|   NULL|       B00021         |
|     B00021         |2019-10-01 00:10:06|2019-10-01 00:19:50|         173|         173|   NULL|       B00021         |
|     B00021         |2019-10-01 00:51:37|2019-10-01 01:06:14|         226|         226|   NULL|       B00021         |
|     B00021         |2019-10-01 00:28:23|2019-10-01 00:34:33|          56|          56|   NULL|       B00021         |
|     B00021         |2019-10-01 00:31:17|2019-10-01 00:51:52|          82|          82|   NULL|       B00021         |
|              B00037|2019-10-01 00:07:41|2019-10-01 00:15:23|         264|          71|   NULL|                B00037|
|              B00037|2019-10-01 00:13:38|2019-10-01 00:25:51|         264|          39|   NULL|                B00037|
|              B00037|2019-10-01 00:42:40|2019-10-01 00:53:47|         264|         188|   NULL|                B00037|
|              B00037|2019-10-01 00:58:46|2019-10-01 01:10:11|         264|          91|   NULL|                B00037|
|              B00037|2019-10-01 00:09:49|2019-10-01 00:14:37|         264|          71|   NULL|                B00037|
|              B00037|2019-10-01 00:22:35|2019-10-01 00:36:53|         264|          35|   NULL|                B00037|
|              B00037|2019-10-01 00:54:27|2019-10-01 01:03:37|         264|          61|   NULL|                B00037|
|              B00037|2019-10-01 00:08:12|2019-10-01 00:28:47|         264|         198|   NULL|                B00037|
|              B00053|2019-10-01 00:05:24|2019-10-01 00:53:03|         264|         264|   NULL|                  #N/A|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [10]:
spark.version

'3.5.1'

In [11]:
df.head(10)

[Row(dispatching_base_num='B00009', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 23), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 35), PUlocationID=264, DOlocationID=264, SR_Flag=None, Affiliated_base_number='B00009'),
 Row(dispatching_base_num='B00013', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 11, 29), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 13, 22), PUlocationID=264, DOlocationID=264, SR_Flag=None, Affiliated_base_number='B00013'),
 Row(dispatching_base_num='B00014', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 11, 43), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 37, 20), PUlocationID=264, DOlocationID=264, SR_Flag=None, Affiliated_base_number='B00014'),
 Row(dispatching_base_num='B00014', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 56, 29), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 57, 47), PUlocationID=264, DOlocationID=264, SR_Flag=None, Affiliated_base_number='B00014'),
 Row(dispatching_base_num='B00014', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 23, 9), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 28, 27), PUlocationID=264, DOlocationID=264, SR_Flag=None, Affiliated_base_number='B00014'),
 Row(dispatching_base_num='B00021         ', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 0, 48), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 7, 12), PUlocationID=129, DOlocationID=129, SR_Flag=None, Affiliated_base_number='B00021         '),
 Row(dispatching_base_num='B00021         ', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 47, 23), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 53, 25), PUlocationID=57, DOlocationID=57, SR_Flag=None, Affiliated_base_number='B00021         '),
 Row(dispatching_base_num='B00021         ', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 10, 6), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 19, 50), PUlocationID=173, DOlocationID=173, SR_Flag=None, Affiliated_base_number='B00021         '),
 Row(dispatching_base_num='B00021         ', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 51, 37), dropOff_datetime=datetime.datetime(2019, 10, 1, 1, 6, 14), PUlocationID=226, DOlocationID=226, SR_Flag=None, Affiliated_base_number='B00021         '),
 Row(dispatching_base_num='B00021         ', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 28, 23), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 34, 33), PUlocationID=56, DOlocationID=56, SR_Flag=None, Affiliated_base_number='B00021         ')]

In [14]:
df.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropOff_datetime: timestamp (nullable = true)
 |-- PUlocationID: integer (nullable = true)
 |-- DOlocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [22]:
df = df.repartition(6)

In [23]:
df.write.parquet('/tmp/fhv_tripdata_2019-10')

In [24]:
df = spark.read.parquet ('/tmp/fhv_tripdata_2019-10')

In [25]:
df.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropOff_datetime: timestamp (nullable = true)
 |-- PUlocationID: integer (nullable = true)
 |-- DOlocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [43]:
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-----------+------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|pickup_date|dropoff_date|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-----------+------------+
|              B01606|2019-10-05 07:00:17|2019-10-05 07:02:30|         264|         227|   NULL|                B01606| 2019-10-05|  2019-10-05|
|              B00789|2019-10-08 06:40:10|2019-10-08 07:39:57|         264|         264|   NULL|                B00789| 2019-10-08|  2019-10-08|
|              B00900|2019-10-07 07:40:30|2019-10-07 08:12:23|         264|          82|   NULL|                B00900| 2019-10-07|  2019-10-07|
|              B00419|2019-10-04 11:28:39|2019-10-04 11:33:25|          51|          51|   NULL|                B00419| 2019-10-04|  2019-10-04|
|              B00008|2019-10-07 11:22:00|2019-10-07 11:27:00|         264|         264|   NULL|                B00008| 2019-10-07|  2019-10-07|
|              B01601|2019-10-04 13:14:00|2019-10-04 13:19:00|         264|         264|   NULL|                B01601| 2019-10-04|  2019-10-04|
|              B02249|2019-10-06 22:44:10|2019-10-06 22:48:21|         264|         129|   NULL|                B02249| 2019-10-06|  2019-10-06|
|              B01340|2019-10-08 01:13:56|2019-10-08 01:28:26|         264|          75|   NULL|                B01340| 2019-10-08|  2019-10-08|
|              B01239|2019-10-08 07:43:32|2019-10-08 07:46:57|         264|          81|   NULL|                B02882| 2019-10-08|  2019-10-08|
|              B03160|2019-10-07 06:33:00|2019-10-07 07:56:00|         117|          33|   NULL|                B02878| 2019-10-07|  2019-10-07|
|              B02968|2019-10-08 07:38:29|2019-10-08 07:59:51|         264|         174|   NULL|                B02968| 2019-10-08|  2019-10-08|
|              B02641|2019-10-05 18:05:13|2019-10-05 18:13:53|         264|         264|   NULL|                B02641| 2019-10-05|  2019-10-05|
|              B02715|2019-10-04 00:01:52|2019-10-04 00:47:20|         138|         265|   NULL|                B02876| 2019-10-04|  2019-10-04|
|              B01118|2019-10-01 23:45:07|2019-10-01 23:47:43|         264|          97|   NULL|                B03142| 2019-10-01|  2019-10-01|
|              B01949|2019-10-07 22:20:00|2019-10-07 22:50:00|         264|         264|   NULL|                B01949| 2019-10-07|  2019-10-07|
|              B02437|2019-10-03 10:14:25|2019-10-03 10:16:31|         264|         248|   NULL|                B02437| 2019-10-03|  2019-10-03|
|              B02782|2019-10-07 13:17:00|2019-10-07 13:22:00|         264|         264|   NULL|                B02782| 2019-10-07|  2019-10-07|
|              B03080|2019-10-05 14:50:35|2019-10-05 15:21:29|         264|         101|   NULL|                B02550| 2019-10-05|  2019-10-05|
|              B00837|2019-10-03 09:50:02|2019-10-03 11:04:16|         264|         264|   NULL|                B00837| 2019-10-03|  2019-10-03|
|              B02881|2019-10-08 12:15:54|2019-10-08 12:29:55|          82|         160|   NULL|                B02881| 2019-10-08|  2019-10-08|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-----------+------------+
only showing top 20 rows

In [56]:
from pyspark.sql import col, to_date

In [49]:
df = df.withColumn("pickup_date", to_date(col("pickup_datetime")))
df = df.withColumn("dropoff_date", to_date(col("dropOff_datetime")))

In [50]:
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-----------+------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|pickup_date|dropoff_date|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-----------+------------+
|              B01606|2019-10-05 07:00:17|2019-10-05 07:02:30|         264|         227|   NULL|                B01606| 2019-10-05|  2019-10-05|
|              B00789|2019-10-08 06:40:10|2019-10-08 07:39:57|         264|         264|   NULL|                B00789| 2019-10-08|  2019-10-08|
|              B00900|2019-10-07 07:40:30|2019-10-07 08:12:23|         264|          82|   NULL|                B00900| 2019-10-07|  2019-10-07|
|              B00419|2019-10-04 11:28:39|2019-10-04 11:33:25|          51|          51|   NULL|                B00419| 2019-10-04|  2019-10-04|
|              B00008|2019-10-07 11:22:00|2019-10-07 11:27:00|         264|         264|   NULL|                B00008| 2019-10-07|  2019-10-07|
|              B01601|2019-10-04 13:14:00|2019-10-04 13:19:00|         264|         264|   NULL|                B01601| 2019-10-04|  2019-10-04|
|              B02249|2019-10-06 22:44:10|2019-10-06 22:48:21|         264|         129|   NULL|                B02249| 2019-10-06|  2019-10-06|
|              B01340|2019-10-08 01:13:56|2019-10-08 01:28:26|         264|          75|   NULL|                B01340| 2019-10-08|  2019-10-08|
|              B01239|2019-10-08 07:43:32|2019-10-08 07:46:57|         264|          81|   NULL|                B02882| 2019-10-08|  2019-10-08|
|              B03160|2019-10-07 06:33:00|2019-10-07 07:56:00|         117|          33|   NULL|                B02878| 2019-10-07|  2019-10-07|
|              B02968|2019-10-08 07:38:29|2019-10-08 07:59:51|         264|         174|   NULL|                B02968| 2019-10-08|  2019-10-08|
|              B02641|2019-10-05 18:05:13|2019-10-05 18:13:53|         264|         264|   NULL|                B02641| 2019-10-05|  2019-10-05|
|              B02715|2019-10-04 00:01:52|2019-10-04 00:47:20|         138|         265|   NULL|                B02876| 2019-10-04|  2019-10-04|
|              B01118|2019-10-01 23:45:07|2019-10-01 23:47:43|         264|          97|   NULL|                B03142| 2019-10-01|  2019-10-01|
|              B01949|2019-10-07 22:20:00|2019-10-07 22:50:00|         264|         264|   NULL|                B01949| 2019-10-07|  2019-10-07|
|              B02437|2019-10-03 10:14:25|2019-10-03 10:16:31|         264|         248|   NULL|                B02437| 2019-10-03|  2019-10-03|
|              B02782|2019-10-07 13:17:00|2019-10-07 13:22:00|         264|         264|   NULL|                B02782| 2019-10-07|  2019-10-07|
|              B03080|2019-10-05 14:50:35|2019-10-05 15:21:29|         264|         101|   NULL|                B02550| 2019-10-05|  2019-10-05|
|              B00837|2019-10-03 09:50:02|2019-10-03 11:04:16|         264|         264|   NULL|                B00837| 2019-10-03|  2019-10-03|
|              B02881|2019-10-08 12:15:54|2019-10-08 12:29:55|          82|         160|   NULL|                B02881| 2019-10-08|  2019-10-08|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-----------+------------+
only showing top 20 rows

In [51]:
df.select("pickup_datetime", "pickup_date", "dropoff_datetime", "dropoff_date").show()

+-------------------+-----------+-------------------+------------+
|    pickup_datetime|pickup_date|   dropoff_datetime|dropoff_date|
+-------------------+-----------+-------------------+------------+
|2019-10-05 07:00:17| 2019-10-05|2019-10-05 07:02:30|  2019-10-05|
|2019-10-08 06:40:10| 2019-10-08|2019-10-08 07:39:57|  2019-10-08|
|2019-10-07 07:40:30| 2019-10-07|2019-10-07 08:12:23|  2019-10-07|
|2019-10-04 11:28:39| 2019-10-04|2019-10-04 11:33:25|  2019-10-04|
|2019-10-07 11:22:00| 2019-10-07|2019-10-07 11:27:00|  2019-10-07|
|2019-10-04 13:14:00| 2019-10-04|2019-10-04 13:19:00|  2019-10-04|
|2019-10-06 22:44:10| 2019-10-06|2019-10-06 22:48:21|  2019-10-06|
|2019-10-08 01:13:56| 2019-10-08|2019-10-08 01:28:26|  2019-10-08|
|2019-10-08 07:43:32| 2019-10-08|2019-10-08 07:46:57|  2019-10-08|
|2019-10-07 06:33:00| 2019-10-07|2019-10-07 07:56:00|  2019-10-07|
|2019-10-08 07:38:29| 2019-10-08|2019-10-08 07:59:51|  2019-10-08|
|2019-10-05 18:05:13| 2019-10-05|2019-10-05 18:13:53|  2019-10-05|
|2019-10-04 00:01:52| 2019-10-04|2019-10-04 00:47:20|  2019-10-04|
|2019-10-01 23:45:07| 2019-10-01|2019-10-01 23:47:43|  2019-10-01|
|2019-10-07 22:20:00| 2019-10-07|2019-10-07 22:50:00|  2019-10-07|
|2019-10-03 10:14:25| 2019-10-03|2019-10-03 10:16:31|  2019-10-03|
|2019-10-07 13:17:00| 2019-10-07|2019-10-07 13:22:00|  2019-10-07|
|2019-10-05 14:50:35| 2019-10-05|2019-10-05 15:21:29|  2019-10-05|
|2019-10-03 09:50:02| 2019-10-03|2019-10-03 11:04:16|  2019-10-03|
|2019-10-08 12:15:54| 2019-10-08|2019-10-08 12:29:55|  2019-10-08|
+-------------------+-----------+-------------------+------------+
only showing top 20 rows

In [57]:
oct_15_trips = df.filter(col("pickup_date") == "2019-10-15")

In [58]:
oct_15_trips.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-----------+------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|pickup_date|dropoff_date|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-----------+------------+
|              B01984|2019-10-15 06:40:00|2019-10-15 06:57:00|         264|          92|   NULL|                B01984| 2019-10-15|  2019-10-15|
|              B02784|2019-10-15 10:27:03|2019-10-15 11:12:15|          86|          55|   NULL|                  NULL| 2019-10-15|  2019-10-15|
|              B03016|2019-10-15 14:53:52|2019-10-15 15:03:03|         264|         254|   NULL|                B02788| 2019-10-15|  2019-10-15|
|              B01200|2019-10-15 12:30:14|2019-10-15 13:01:03|         264|          33|   NULL|                B01200| 2019-10-15|  2019-10-15|
|              B01280|2019-10-15 14:37:00|2019-10-15 15:01:00|         264|         264|   NULL|                B01280| 2019-10-15|  2019-10-15|
|              B00310|2019-10-15 02:26:10|2019-10-15 02:34:10|         264|         248|   NULL|                B02887| 2019-10-15|  2019-10-15|
|              B00856|2019-10-15 03:39:16|2019-10-15 03:52:06|         264|          89|   NULL|                B02800| 2019-10-15|  2019-10-15|
|     B02279         |2019-10-15 08:04:12|2019-10-15 08:11:29|         187|         187|   NULL|       B02279         | 2019-10-15|  2019-10-15|
|     B02279         |2019-10-15 18:02:36|2019-10-15 18:10:16|         265|         187|   NULL|       B02279         | 2019-10-15|  2019-10-15|
|              B02849|2019-10-15 06:16:41|2019-10-15 06:32:02|         264|          97|   NULL|                B02849| 2019-10-15|  2019-10-15|
|              B00277|2019-10-15 15:57:51|2019-10-15 17:07:12|         264|         264|   NULL|                B00277| 2019-10-15|  2019-10-15|
|              B00310|2019-10-15 22:21:10|2019-10-15 22:32:09|         264|         167|   NULL|                B02875| 2019-10-15|  2019-10-15|
|              B01061|2019-10-15 14:39:02|2019-10-15 15:13:45|         264|         147|   NULL|                B01061| 2019-10-15|  2019-10-15|
|              B02728|2019-10-15 08:10:54|2019-10-15 08:23:30|         264|         208|   NULL|                B02728| 2019-10-15|  2019-10-15|
|              B02849|2019-10-15 08:05:50|2019-10-15 08:50:55|         264|          97|   NULL|                B02849| 2019-10-15|  2019-10-15|
|              B02416|2019-10-15 16:09:00|2019-10-15 18:44:35|        NULL|        NULL|   NULL|                B02416| 2019-10-15|  2019-10-15|
|              B00860|2019-10-15 06:43:42|2019-10-15 07:00:30|         264|         247|   NULL|                B00860| 2019-10-15|  2019-10-15|
|              B00937|2019-10-15 13:55:39|2019-10-15 14:17:25|         264|         168|   NULL|                B00937| 2019-10-15|  2019-10-15|
|              B01190|2019-10-15 22:45:07|2019-10-15 23:08:46|         264|          37|   NULL|                B01190| 2019-10-15|  2019-10-15|
|              B01129|2019-10-15 15:58:00|2019-10-15 16:10:00|         264|         264|   NULL|                B01129| 2019-10-15|  2019-10-15|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-----------+------------+
only showing top 20 rows

In [59]:
num_oct_15_trips = oct_15_trips.count()

In [60]:
print(f"Number of taxi trips on October 15th: {num_oct_15_trips}")

Number of taxi trips on October 15th: 62610

In [61]:
df.columns

['dispatching_base_num',
 'pickup_datetime',
 'dropOff_datetime',
 'PUlocationID',
 'DOlocationID',
 'SR_Flag',
 'Affiliated_base_number',
 'pickup_date',
 'dropoff_date']

In [62]:
df \
    .withColumn('duration', df.dropOff_datetime.cast('long') - df.pickup_datetime.cast('long')) \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .groupBy('pickup_date') \
        .max('duration') \
    .orderBy('max(duration)', ascending=False) \
    .limit(5) \
    .show()

+-----------+-------------+
|pickup_date|max(duration)|
+-----------+-------------+
| 2019-10-28|   2272149000|
| 2019-10-11|   2272149000|
| 2019-10-31|    315620787|
| 2019-10-01|    252460901|
| 2019-10-17|     31658400|
+-----------+-------------+

In [65]:
df_zones = spark.read \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .csv('/u1/taxi_zone_lookup.csv')

In [69]:
df_zones.printSchema()

root
 |-- LocationID: integer (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

In [70]:
df_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [74]:
df_zones.write.parquet('/tmp/taxi_zone_lookup', mode='overwrite')
df_zones = spark.read.parquet ('/tmp/taxi_zone_lookup')

In [75]:
# Register dataframes as temporary views
df.createOrReplaceTempView("trips")
df_zones.createOrReplaceTempView("zones")

In [76]:
# Join the dataframes on PUlocationID
joined_df = spark.sql("""
    SELECT t.*, z.Zone
    FROM trips t
    JOIN zones z ON t.PUlocationID = z.LocationID
""")

In [77]:
# Count occurrences of each zone
zone_counts = joined_df.groupBy("Zone").count()

In [78]:
zone_counts.show()

+--------------------+-----+
|                Zone|count|
+--------------------+-----+
|           Homecrest| 1295|
|Governor's Island...|    2|
|              Corona| 7175|
|    Bensonhurst West| 1880|
|         Westerleigh| 1317|
|      Newark Airport| 2532|
|Charleston/Totten...| 2533|
|          Douglaston|  291|
|      Pelham Parkway| 1522|
|East Concourse/Co...| 3294|
|          Mount Hope| 3973|
|         Marble Hill|  116|
|           Rego Park| 1697|
|Upper East Side S...| 2358|
|       Dyker Heights|  690|
|Heartland Village...| 1054|
|   Kew Gardens Hills|  906|
|     Jackson Heights|10952|
|             Bayside| 2547|
|TriBeCa/Civic Center| 1918|
+--------------------+-----+
only showing top 20 rows

In [79]:
# Find the least frequent pickup location zone
least_frequent_zone = zone_counts.orderBy("count").first()["Zone"]

In [80]:
print(f"The LEAST frequent pickup location zone is: {least_frequent_zone}")

The LEAST frequent pickup location zone is: Jamaica Bay